

<div class="top">
    <h1><%= @title %></h1>
    <ul>
      <li></li> <!-- date it was written -->
      <li>written by <%= @author %></li>
      <li><%= @email %></li>

      <li></li>
      <li></li>
      <li></li>

    </ul>

    <img src="https://www.google.com/maps/embed/v1/directions  ?key=API_KEY  &origin=<%= @city_start %>+<%= @state_start %>& destination=<%= @city_end %>+<%= @state_end %>&mode=driving"/>
</div>  <!-- end of top -->

<div>
  <!-- story -->
</div>

  <div class="tags">
  </div>
